@model IEnumerable<StudyRPLku.Models.Categories>
@{
    ViewBag.Title = "Index";
}

<h2>Categori List</h2>
@using (Html.BeginForm("Search", "Categories", FormMethod.Post, new { @class = "form-inline" }))

{
    <input type="text" name="txtSearch" class="form-control" />
    <button type="submit" class="btn btn-success">Search</button>
}
@*ini punya pak Erick *@
@*@using (Html.BeginForm("Search", "Categories", FormMethod.Post))
{
    <label for="CategoryName">Masukkan Nama Kategori :</label>
    <input placeholder="Input Nama" type="text" name="txtSearch" />
    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
}*@
<br />
<p class="btn btn-default">
    @Html.ActionLink("Tambah Categori", "CreateCategories")
</p>
<br />
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>Category Name</th>
        <th></th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategories", new { id = item.CategoryID } , new { @class = "btn btn-warning" })
                @*@Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
