
@{
    ViewBag.Title = "Index";
}

<h2>Books Store</h2>
@Html.Raw(ViewBag.Msg)
<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create New", "Create", "BooksController", new { @class = "btn btn-success" })<br />

        </p>
    </div>

    <div class="col-md-6">
        <!--SEARCH-->
        @using (Html.BeginForm("Search", "Books", FormMethod.Post, new { @class = "form-inline" }))

        {
            <label for="selectKriteria">Search by: </label>
            <select name="selectKriteria">

                <option value="Title" selected="selected">Judul</option>
                <option value="Author">Pengarang</option>
            </select>
            <input type="text" name="txtSearch" />
            <button type="submit" class="btn btn-success btn-sm">Search</button>
        }
    </div>
</div>
<!--Book List-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="img" style="margin-left:0;">

                    <a href="/Books/details/@item.BookID">
                        <img align="middle" src="~/Content/Images/@item.CoverImage" />
                    </a>
                    <strong class="book-content"> @item.Title</strong> <br />
                    <br />
                    <p class="book-content">
                        $ @item.Price.ToString("N0")<br />
                        <a href="/Books/details/@item.BookID">Details</a>
                    </p>
                </div>
            }
        </div>
    </div>
</div>

